---
title: NEWS WEB
permalink: news/web/
---
<!DOCTYPE html>
<html>
{% include head.html %}

<body class="zh_CN mm_appmsg">
  <div class="rich_media">
    <div class="rich_media_inner">
      <div class="rich_media_area_primary">
        <div>
          <h2 class="rich_media_title">{{ page.title }}</h2>
          <div class="rich_media_content">
            <ul>
              {% assign weblist = site.news | where: "categories", "web"  | sort: "last_modified_at" | reverse %}
              {% for post in weblist limit: 10 %}
              <li class="card">
                <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
                <div class="rich_media_meta_list">
                  <em class="rich_media_meta rich_media_meta_text">{{ post.datetime }}</em>
                </div>
                <div class="rich_media_content">
                  {% if post.image_url %}
                  <p><img class="fullwidth" data-s="300,640" src="{{ post.image_url }}" data-ratio="0" data-w="640" /></p>
                  {% endif %}
                  {{ post.summary }}
                </div>
              </li>
              {% endfor %}
            </ul>

            <p><img class="fullwidth" data-type="gif" src="/assets/qrcode.gif" data-ratio="0.5064308681672026" data-w="622" /></p>
          </div>

          <div class="ct_mpda_wrp">
            <!-- js_sponsor_ad_area -->
          </div>
        </div>

        <div class="rich_media_tool">
          <a class="media_tool_meta meta_primary" href="/news/web/playlist">すべて再生</a>
          <a class="media_tool_meta meta_primary" href="/news/easy/">イージーニュース</a>
          <a class="media_tool_meta meta_primary" href="{{ site.nhk_news_web_home }}">原文</a>
        </div>
      </div>

      <div class="rich_media_area_extra">
        <div class="mpda_bottom_container">
            <!-- js_sponsor_ad_area -->
        </div>
      </div>

    </div>
  </div>
</body>

</html>
