html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  line-height: 1.6
}

body {
  -webkit-touch-callout: none;
  font-family: -apple-system-font, "Helvetica Neue", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", sans-serif;
  background-color: #f3f3f3;
  line-height: inherit
}

h2 {
  font-weight: bold;
  font-size: 18px
}

* {
  margin: 0;
  padding: 0
}

a {
  color: #607fa6;
  text-decoration: none
}

.rich_media_inner {
  font-size: 16px;
  word-wrap: break-word;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto
}

.rich_media_area_primary {
  position: relative;
  padding: 20px 15px 15px;
  background-color: #fff
}

.rich_media_area_primary:before {
  content: " ";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 1px;
  border-top: 1px solid #e5e5e5;
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
  -webkit-transform: scaleY(0.5);
  transform: scaleY(0.5);
  top: auto;
  bottom: -2px
}

.rich_media_area_extra {
  padding: 15px;
}

.rich_media_title {
  margin-bottom: 10px;
  line-height: 1.4;
  font-weight: 400;
  font-size: 24px;
  border-bottom: 1px solid #e7e7eb;
}

.rich_media_meta_list {
  line-height: 20px;
  font-size: 0
}

.rich_media_meta_list em {
  font-style: normal
}

.rich_media_meta {
  display: inline-block;
  vertical-align: middle;
  margin-right: 8px;
  margin-bottom: 10px;
  font-size: 16px
}

.rich_media_meta_text {
  color: #8c8c8c
}

span.rich_media_meta_nickname {
}

.rich_media_content {
  overflow: hidden;
  color: #3e3e3e
}

.rich_media_content p {
  min-height: 1em;
}

@media(min-device-width:375px) and (max-device-width:667px) and (-webkit-min-device-pixel-ratio:2) {
  .mm_appmsg .rich_media_inner, .mm_appmsg .rich_media_meta {
    font-size: 17px
  }
}

@media(min-device-width:414px) and (max-device-width:736px) and (-webkit-min-device-pixel-ratio:3) {
  .mm_appmsg .rich_media_title {
    font-size: 25px
  }
}

@media only screen and (device-width:375px) and (device-height:812px) and (-webkit-device-pixel-ratio:3) and (orientation:landscape) {
  .rich_media_area_primary {
    padding: 20px 49px 15px 59px
  }
  .rich_media_area_extra {
    padding: 0 49px 0 59px
  }
}

@media screen and (min-width:1024px) {
  .rich_media {
    width: 740px;
    margin-left: auto;
    margin-right: auto
  }
  .rich_media_inner {
    padding: 20px
  }
  body {
    background-color: #fff
  }
}

@media screen and (min-width:1025px) {
  body {
    font-family: "Helvetica Neue", Helvetica, "Hiragino Sans GB", "Microsoft YaHei", Arial, sans-serif
  }
  .rich_media {
    position: relative
  }
  .rich_media_inner {
    background-color: #fff;
    padding-bottom: 100px
  }
}

.rich_media_tool {
  overflow: hidden;
  padding-top: 15px;
  line-height: 32px
}

.rich_media_tool .meta_primary {
  /*float: left;*/
  margin-right: 10px
}

@font-face {
  font-weight: normal;
  font-style: normal;
  font-family: "WeChatNumber-151125";
  src: url('https://res.wx.qq.com/mmbizwap/zh_CN/htmledition/assets/WeChatNumber-170206.ttf') format('truetype')
}

.ct_mpda_wrp {
  margin: 38px 0 20px
}

@media(min-device-width:375px) and (max-device-width:667px) and (-webkit-min-device-pixel-ratio:2) {
  .mm_appmsg .rich_media_inner, .mm_appmsg .rich_media_meta {
    font-size: 17px
  }
}

@media(min-device-width:414px) and (max-device-width:736px) and (-webkit-min-device-pixel-ratio:3) {
  .mm_appmsg .rich_media_title {
    font-size: 25px
  }
}

@media only screen and (device-width:375px) and (device-height:812px) and (-webkit-device-pixel-ratio:3) and (orientation:landscape) {
  .rich_media_area_primary {
    padding: 20px 49px 15px 59px
  }
  .rich_media_area_extra {
    padding: 0 49px 0 59px
  }
}

@media screen and (min-width:1024px) {
  .rich_media {
    width: 740px;
    margin-left: auto;
    margin-right: auto
  }
  .rich_media_inner {
    padding: 20px
  }
  body {
    background-color: #fff
  }
}

@media screen and (min-width:1025px) {
  body {
    font-family: "Helvetica Neue", Helvetica, "Hiragino Sans GB", "Microsoft YaHei", Arial, sans-serif
  }
  .rich_media {
    position: relative
  }
  .rich_media_inner {
    background-color: #fff;
    padding-bottom: 100px
  }
}

@media screen and (min-width:1024px) {
  .rich_media_meta {
    max-width: none
  }
  a.rich_media_meta_nickname {
    display: inline-block!important
  }
  span.rich_media_meta_nickname {
  }
  .rich_media_content {
    /*min-height: 350px*/
  }
  .rich_media_title {
    padding-bottom: 10px;
    margin-bottom: 14px;
    border-bottom: 1px solid #e7e7eb
  }
}
