<!DOCTYPE html>
<html>
{% include head.html %}

<body class="zh_CN mm_appmsg">
  <div class="rich_media">
    <div class="rich_media_inner">
      <div class="rich_media_area_primary">
        <div>
          <h2 class="rich_media_title">{{ page.title }}</h2>

          <div class="rich_media_meta_list">
            <span class="rich_media_meta rich_media_meta_text"><a href="/tags/easy/social/"><ruby>社会<rt>しゃかい</rt></ruby></a></span>
            <span class="rich_media_meta rich_media_meta_text"><a href="/tags/easy/culture/"><ruby>科学<rt>かがく</rt></ruby>・<ruby>文化<rt>ぶんか</rt></ruby></a></span>
            <span class="rich_media_meta rich_media_meta_text"><a href="/tags/easy/politics/"><ruby>政治<rt>せいじ</rt></ruby></a></span>
            <span class="rich_media_meta rich_media_meta_text"><a href="/tags/easy/business/">ビジネス</a></span>
            <span class="rich_media_meta rich_media_meta_text"><a href="/tags/easy/international/"><ruby>国際<rt>こくさい</rt></ruby></a></span>
            <span class="rich_media_meta rich_media_meta_text"><a href="/tags/easy/sports/">スポーツ</a></span>
            <span class="rich_media_meta rich_media_meta_text"><a href="/tags/easy/life/"><ruby>暮<rt>く</rt></ruby>らし</a></span>
          </div>

          <div class="rich_media_content">
            <div style="margin: 10px 0">
              <span><ruby>振<rt>ふ</rt></ruby>り<ruby>仮名<rt>がな</rt></ruby><ruby>表示<rt>ひょうじ</rt></ruby></span>
              <label class="switch">
                <input id="furigana_toggle" type="checkbox" checked/>
                <span class="slider round"></span>
              </label>
            </div>
            <ul>
              {% assign easylist = site.news | where: "categories", "easy"  | where: "cate", page.cate | sort: "last_modified_at" | reverse %}
              {% assign c = 0 %}
              {% for post in easylist limit: 20 %}
              <li class="card">
                {% if post.image_url %}
                <p><img class="fullwidth" data-s="300,640" src="{{ post.image_url }}" data-ratio="0" data-w="640" /></p>
                {% endif %}
                <h2 class="subtitle"><a href="{{ post.url }}">{{ post.title_with_ruby }}</a></h2>
                <div class="rich_media_meta_list">
                  <em class="rich_media_meta rich_media_meta_text">{{ post.datetime }}</em>
                </div>
                <div class="rich_media_content easynewscontent">
                  {{ post.outline_with_ruby }}
                </div>
              </li>
              {% assign d = c | modulo: 3 %}
              {% if d == 1  %}
              <li class="card">
                {% include adsense_web_stream.html %}
              </li>
              {% endif %}
              {% assign c = c | plus: 1 %}
              {% endfor %}
            </ul>
          </div>

          <div class="ct_mpda_wrp">
            <!-- js_sponsor_ad_area -->
          </div>
        </div>

        <div class="rich_media_tool">
          <a class="media_tool_meta meta_primary" href="/tags/web/"><ruby>普通<rt>ふつう</rt></ruby>のニュース</a>
        </div>

        <div class="rich_media_tool">
          <a class="media_tool_meta meta_primary" href="/tags/easy/social/"><ruby>社会<rt>しゃかい</rt></ruby></a>
          <a class="media_tool_meta meta_primary" href="/tags/easy/culture/"><ruby>科学<rt>かがく</rt></ruby>・<ruby>文化<rt>ぶんか</rt></ruby></a>
          <a class="media_tool_meta meta_primary" href="/tags/easy/politics/"><ruby>政治<rt>せいじ</rt></ruby></a>
          <a class="media_tool_meta meta_primary" href="/tags/easy/business/">ビジネス</a>
          <a class="media_tool_meta meta_primary" href="/tags/easy/international/"><ruby>国際<rt>こくさい</rt></ruby></a>
          <a class="media_tool_meta meta_primary" href="/tags/easy/sports/">スポーツ</a>
          <a class="media_tool_meta meta_primary" href="/tags/easy/life/"><ruby>暮<rt>く</rt></ruby>らし</a>
        </div>
      </div>

      <div class="rich_media_area_extra">
        <div class="mpda_bottom_container">
        {% include adsense_easy.html %}
        </div>
      </div>

    </div>
  </div>
  <script src="/assets/furigana_toggle.js"></script>
</body>

</html>
