<!DOCTYPE html>
<html>
{% include head.html %}

<body class="zh_CN mm_appmsg">
  <div class="rich_media">
    <div class="rich_media_inner">

      <div class="rich_media_area_primary">

        <div>
          <h2 class="rich_media_title"><img style="height: 24px;" src="{{ '/assets/easy_icon.png' | relative_url }}" />{{ page.title }}</h2>

          <div class="rich_media_meta_list">
            <em class="rich_media_meta rich_media_meta_text">{% if page.categories contains 'easy' %}<ruby>音声<rt>おんせい</rt></ruby><ruby>再生<rt>さいせい</rt></ruby>{% else %}音声再生{% endif %}</em>
            <a class="rich_media_meta rich_media_meta_link rich_media_meta_nickname" href="/">NewsWebEasy</a>
          </div>

          <div class="rich_media_content">

            <p><audio id="player" style="margin:20px 0; width:100%" controls></audio></p>

            {% assign newslist = site.news | sort: "last_modified_at" | reverse %}
            {% assign c = 0 %}
            <div class="newslist">
              {% for post in newslist limit: 50 %}
              {% if post.categories == page.categories and post.voice_url %}
              <a class="card" href="#" onclick="return play(this)" data-voice-url="{{ post.voice_url }}">
                <h2 class="newstitle">{% if page.categories contains 'easy' %}{{ post.title_with_ruby }}{% else %}{{ post.title }}{% endif %}</h2>
                <p class="newsdate">{{ post.last_modified_at | date: "%m月%d日 %H時%M分" }}</p>
              </a>
              {% assign c = c | plus: 1 %}
              {% if c >= 5 %}
              {% break %}
              {% endif %}
              {% endif %}
              {% endfor %}
            </div>
          </div>

        </div>

        <div class="rich_media_tool">
          {% unless page.categories contains 'easy' %}
          <a class="media_tool_meta meta_primary" href="/news/easy/playlist">イージーニュース</a>
          {% endunless %}
          {% unless page.categories contains 'web' %}
          <a class="media_tool_meta meta_primary" href="/news/web/playlist"><ruby>普通<rt>ふつう</rt></ruby>のニュース</a>
          {% endunless %}
          <a class="media_tool_meta meta_primary" href="/radionews/">ラジオニュース</a>
        </div>
      </div>

      <div class="rich_media_area_extra">
        <div class="mpda_bottom_container">
          {% include adsense_playlist_footer.html %}
        </div>
      </div>

    </div>
  </div>

  <script type="text/javascript">
    var playing = null;
    var playlist = document.getElementsByClassName('card');

    var player = document.getElementById('player');
    player.load();

    var repeat_one = false;
    player.onended = function() {
      if (repeat_one) {
        player.play();
      } else {
        var next = playing.nextElementSibling || playlist[0];
        play(next);
      }
    }
    player.onplay = function(e) {
      playing.classList.add("playing");
    }
    player.onpause = function(e) {
      playing.classList.remove("playing");
    }

    function play(el) {
      if (el != playing) {
        var last = playing;
        playing = el;
        player.src = playing.dataset.voiceUrl;
        player.load();

        if (last) {
          last.classList.remove("playing");
        }
      }

      if (player.paused) {
        player.play();
      }

      return false;
    }

    play(playlist[0]);
  </script>

</body>

</html>
