<!DOCTYPE html>
<html>
{% include head.html %}

<body class="zh_CN mm_appmsg">
  <div class="rich_media">
    <div class="rich_media_inner">
      <div class="rich_media_area_primary">
        <div>
          <h2 class="rich_media_title">{{ page.title }}</h2>

          <div class="rich_media_meta_list">
            <span class="rich_media_meta rich_media_meta_text"><a href="/tags/web/social/"><ruby>社会<rt data-ruby-level="2">しゃかい</rt></ruby></a></span>
            <span class="rich_media_meta rich_media_meta_text"><a href="/tags/web/culture/"><ruby>科学<rt data-ruby-level="2">かがく</rt></ruby>・<ruby>文化<rt data-ruby-level="3">ぶんか</rt></ruby></a></span>
            <span class="rich_media_meta rich_media_meta_text"><a href="/tags/web/politics/"><ruby>政治<rt data-ruby-level="5">せいじ</rt></ruby></a></span>
            <span class="rich_media_meta rich_media_meta_text"><a href="/tags/web/business/">ビジネス</a></span>
            <span class="rich_media_meta rich_media_meta_text"><a href="/tags/web/international/"><ruby>国際<rt data-ruby-level="5">こくさい</rt></ruby></a></span>
            <span class="rich_media_meta rich_media_meta_text"><a href="/tags/web/sports/">スポーツ</a></span>
            <span class="rich_media_meta rich_media_meta_text"><a href="/tags/web/life/"><ruby>暮<rt data-ruby-level="6">く</rt></ruby>らし</a></span>
          </div>

          <div class="rich_media_content">
            <div class="furigana_bar">
              <span><ruby>振<rt data-ruby-level="7">ふ</rt></ruby>り<ruby>仮名<rt data-ruby-level="7">がな</rt></ruby>レベル</span>
              <input id="furigana_slider" class="furigana_slider" type="range" min="1" max="9"/>
              <span id="level"></span>
            </div>
            <ul>
              {% assign weblist = site.news | where: "categories", "web" | where: "cate", page.cate | sort: "last_modified_at" | reverse %}
              {% assign c = 0 %}
              {% for post in weblist limit: 20 %}
              <li class="card">
                {% if post.image_url %}
                <p><img class="fullwidth" data-s="300,640" src="{{ post.image_url }}" data-ratio="0" data-w="640" /></p>
                {% endif %}
                <h2 class="subtitle"><a href="{{ post.url }}">{% if post.title_with_ruby %}{{ post.title_with_ruby }}{% else %}{{ post.title }}{% endif %}</a></h2>
                <div class="rich_media_meta_list">
                  <em class="rich_media_meta rich_media_meta_text">{{ post.datetime }}</em>
                </div>
                <div class="rich_media_content">
                  <p class="summary">{{ post.summary }}</p>
                </div>
              </li>
              {% assign d = c | modulo: 3 %}
              {% if d == 1  %}
              <li class="card">
                {% include adsense_web_stream.html %}
              </li>
              {% endif %}
              {% assign c = c | plus: 1 %}
              {% endfor %}
            </ul>
          </div>

          <div class="ct_mpda_wrp">
            <!-- js_sponsor_ad_area -->
          </div>
        </div>

        <div class="rich_media_tool">
          <a class="media_tool_meta meta_primary" href="/news/web/"><ruby>普通<rt data-ruby-level="7">ふつう</rt></ruby>のニュース</a>
        </div>

        <div class="rich_media_tool">
          <a class="media_tool_meta meta_primary" href="/tags/web/social/"><ruby>社会<rt data-ruby-level="2">しゃかい</rt></ruby></a>
          <a class="media_tool_meta meta_primary" href="/tags/web/culture/"><ruby>科学<rt data-ruby-level="2">かがく</rt></ruby>・<ruby>文化<rt data-ruby-level="3">ぶんか</rt></ruby></a>
          <a class="media_tool_meta meta_primary" href="/tags/web/politics/"><ruby>政治<rt data-ruby-level="5">せいじ</rt></ruby></a>
          <a class="media_tool_meta meta_primary" href="/tags/web/business/">ビジネス</a>
          <a class="media_tool_meta meta_primary" href="/tags/web/international/"><ruby>国際<rt data-ruby-level="5">こくさい</rt></ruby></a>
          <a class="media_tool_meta meta_primary" href="/tags/web/sports/">スポーツ</a>
          <a class="media_tool_meta meta_primary" href="/tags/web/life/"><ruby>暮<rt data-ruby-level="6">く</rt></ruby>らし</a>
        </div>
      </div>

      <div class="rich_media_area_extra">
        <div class="mpda_bottom_container">
        {% include adsense_easy.html %}
        </div>
      </div>

    </div>
  </div>
  <script src="/assets/furigana_slider.js"></script>
</body>

</html>
