<!DOCTYPE html>
<html>
{% include head.html %}

<body onload="onload()" class="zh_CN mm_appmsg">
  <div class="rich_media">
    <div class="rich_media_inner">
      <div>
        <div class="rich_media_area_primary">
          <h2 class="rich_media_title">{{ page.title }}</h2>
          <div class="rich_media_meta_list">
            <em class="rich_media_meta rich_media_meta_text">{{ page.datetime }}</em>
            <span class="rich_media_meta rich_media_meta_text rich_media_meta_nickname"><a href="/">{{ site.author }}</a></span>
          </div>
          <div class="rich_media_content">
            {% if page.movie_url %}
            <p><video id="player" src="{{ page.movie_url }}" controls loop autoplay></video></p>
            <p></p>
            {% elsif page.image_url %}
            <p><img data-s="300,640" src="{{ page.image_url }}" data-ratio="0" data-w="640" /></p>
            <p></p>
            {% elsif page.img %}
            <p><img data-s="300,640" src="{{ page.img }}" data-ratio="0" data-w="640" /></p>
            <p></p>
            {% endif %}
            <p>{{ page.summary }}</p>
            <p></p>
            <p>{{ page.more }}</p>
            {% for s in page.body %}
            <p></p>
            {% if s.title %}
            <h2>{{ s.title }}</h2>
            {% endif %}
            {% if s.text %}
            <p>{{ s.text }}</p>
            {% endif %}
            {% if s.movie_url %}
            <p><video id="player" src="{{ s.movie_url }}" controls loop autoplay></video></p>
            <p></p>
            {% elsif s.image_url %}
            <p></p>
            <p><img data-s="300,640" src="{{ s.image_url }}" data-ratio="0" data-w="640" /></p>
            {% endif %}
            {% if s.caption %}
            <p class="caption">{{ s.caption }}</p>
            {% endif %}
            {% endfor %}

            <p><img data-type="gif" src="/assets/qrcode.gif" data-ratio="0.5064308681672026" data-w="622" /></p>
          </div>

          <div class="ct_mpda_wrp">
            <!-- js_sponsor_ad_area -->
          </div>

          <div class="rich_media_tool">
            {% if page.easy_news_url %}
            <a class="media_tool_meta meta_primary" href="{{ page.easy_news_url }}">イージーニュース</a> |
            {% endif %}
            <a class="media_tool_meta meta_primary" href="{{ page.source_url }}" target="_blank">原文</a>
          </div>
        </div>

        <footer>
          <div class="rich_media_area_extra">
            <div class="mpda_bottom_container">
            {% include adsense_web.html %}
            </div>

            {% include comments.html %}
          </div>
        </footer>

      </div>
    </div>
  </div>
</body>

</html>
